<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="page-home">
    <div class="container">
      <h1><%= title %></h1>
      <p>Status: OK</p>
      <div>
        <span class="total">Loading...</span>
        clients(s) connected
      </div>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
